html, body, *
   margin: 0
   padding: 0

html
   background: orange

body
   font-family: "Helvetica"
   text-align: center
   background: #f4f4f7
   color: #444
   margin: 0

h1
   font-size: 65px
   line-height: 1.2em
   border-bottom: #CCC solid 1px
   padding: 20px 0
   background: teal

h3
   font-weight: 300
   background: purple

p 
   color: green
   background: yellow

.header 
   background: grey

.footer
   background: blue



